{% extends "layout.twig" %}

{% block orderupdate %}

<div class="alert alert-success" role="alert">
    A order has been updated!
</div>

<a href="/customer/orders/index.php" class="btn btn-primary link-warning">Index</a>

{% endblock %}