{% extends "layout.twig" %}

{% block orderstore %}

<div class="alert alert-success" role="alert">
    A order has been placed!
</div>

<a href="/user/orders/index.php" class="btn btn-primary link-warning">Back to Orders</a>

{% endblock %}