{% extends "layout.twig" %}

{% block productstore %}

<div class="alert alert-success" role="alert">
    A products has been inserted!
</div>

<a href="/admin/products/create.php" class="btn btn-primary link-warning">Back to Create</a>

{% endblock %}