{% extends "layout.twig" %}

{% block productstore %}

<div class="alert alert-success" role="alert">
    A product has been updated!
</div>

<a href="/admin/products/index.php" class="btn btn-primary link-warning">Index</a>

{% endblock %}