{% extends "layout.twig" %}

{% block productstore %}

<div class="alert alert-success" role="alert">
    A products has been deleted!
</div>

<a href="/seller/products/index.php" class="btn btn-primary link-warning">Index</a>

{% endblock %}