{% extends "layout.twig" %}

{% block userstore %}

<div class="alert alert-success" role="alert">
    You're registered!
</div>

<a href="/seller/users/index.php" class="btn btn-primary link-warning">Back to Users</a>

{% endblock %}